.wrapper-progressBar {
    width: 100%;
}

.progressBar {
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
    color: #999;
    font-family: $second-font-family;
    font-size: 2rem;
    font-weight: 700;
}

.progressBar li:before {
    content: ' ';
    line-height: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white;
}

.progressBar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: $primary-color;
}

.progressBar li.active:before {
    border-color: $primary-color;
    background-color: $primary-color;
}

.progressBar li.active + li:after {
    background-color: $primary-color;
}
